/* .ticker-wrap {
  display: flex;
  justify-content: center;
  width: 100vw;
} */
.swiper-wrapper {
  transition-timing-function: linear !important;
}

#ticker {
  background-color: black;
  color: white;
  cursor: pointer;
}
.swiper-wrapper {
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.swiper-ticker img {
  /* width: 4rem; */
  /* height: 4rem; */
}
.swiper-ticker {
  /* border: 2px solid red; */
  padding: 2rem;
  display: flex;
  align-items: start;
  /* width: 25rem; */
  text-wrap: wrap;
  gap: 2rem;
}
/* ------------------------ */
.azure {
  height: 5rem;
  width: 7rem;
}
.chatgpt {
  height: 5rem;
  width: 5rem;
}
.aws {
  width: 9rem;
  height: 5rem;
}
.ibm {
  height: 5rem;
  width: 9rem;
}
p {
  text-align: justify;
}
