/* .ticker-wrap {
  display: flex;
  justify-content: center;
  width: 100vw;
} */
#ticker {
  background-color: black;
  color: white;
  cursor: pointer;
}
.swiper-wrapper {
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  padding: 6px 0;
}
.swiper-ticker img {
  /* width: 4rem; */
  height: 4rem;
}
.swiper-ticker {
  padding: 2rem;
  display: flex;
  align-items: start;
  width: 25rem;
  text-wrap: wrap;
  gap: 2rem;
}
/* ------------------------ */
